venv
react_app/assets/web/*
react_app/img/*
react_app/backup/*
data/app/
data/status/
data/database.db
data/globalVars.json
temp
.idea
__pycache__
react_app/index.html
react_app/static
react_app
main.build
main.dist
nuitka-crash-report.xml
main.onefile-build
react_app/unpackage
logs