.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}



.video-background .wallpaper-three {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.video-background .wallpapers-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.video-background .wallpapers-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
}

.Pane{
    width: 95%;
    height: 43rem;
    /*overflow-x: auto;*/
    /*overflow-y: hidden;*/
    box-sizing: border-box;
    border-radius: 1rem;
    margin-left: 2.5%;
    margin-top: 1rem;
    user-select: none;
    z-index: 1200;
}

.Dock{
    width: 95%;
    margin: 1rem auto;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2.25rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    padding: 0 0.3rem 0 0.3rem;
    height: 7rem;
    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform:  translateX(-50%);
    user-select: none;
    display: flex;
    flex-direction: row;
}

.opened-layouts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.GridItem:nth-child(2n):not(.dragging) > *,
.GridItem:nth-child(2n):not(.dragging) > * {
    animation-name: keyframes1;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
    animation-duration: 0.3s;
}
.xBlade-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opened-apps{
    width: 60px !important;
    height: 90px;
    margin: auto .5rem;
}

.GridItem:nth-child(2n-1):not(.dragging) > *,
.GridItem:nth-child(2n-1):not(.dragging) > * {
    animation-name: keyframes2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 30% 5%;
    animation-duration: 0.25s;
}

@keyframes keyframes1 {
    0% {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(2deg);
        animation-timing-function: ease-out;
    }
}

@keyframes keyframes2 {
    0% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(-2deg);
        animation-timing-function: ease-out;
    }
}
