.header{
    width: 95%;
    height: 3rem;
    margin: auto;
    user-select: none; /* 禁止文本选择 */

}
.items-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.time{
    white-space: nowrap;
    color: white !important;
    font-weight: bolder!important;
    letter-spacing: 0.1rem;
}
.items-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
}
.right-btn{
    transition: ease-in-out 0.1s;
    border-radius: 0.55rem !important;
    margin-right: 0.7rem !important;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 1px solid;
    box-shadow: 0 0 0 2px hsla(210, 100%, 45%, 0.1), 0 2px 12px 0 rgba(234, 237, 241, 0.3) inset;
}
.done{
    font-size: 0.7rem;
    font-weight: bolder;
    margin-left: 0.5rem;
}